<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor patch:instead="*[@type='Sitecore.XA.Feature.Redirects.Pipelines.HttpRequest.RedirectMapResolver, Sitecore.XA.Feature.Redirects']" type="Sitecore.Support.XA.Feature.Redirects.Pipelines.HttpRequest.RedirectMapResolver, Sitecore.Support.349863" >
                    <CacheExpiration>720</CacheExpiration>
                </processor>
            </httpRequestBegin>
        </pipelines>
    </sitecore>
</configuration>